@page "/"

<h1>Hello, world!</h1>

<PrimoComponente></PrimoComponente>
<ListaRistoranti ViewModelRistoranti="ViewModelRistorantistellati" ></ListaRistoranti>


@code {
    private RestaurantsIndexViewModel ViewModelRistorantistellati;
    protected override void OnInitialized()
    {
        ViewModelRistorantistellati = new RestaurantsIndexViewModel
            {
                Restaurants = new List<RestaurantsListViewModel> { new RestaurantsListViewModel { RestaurantName = "Stellato" } }
            };
        base.OnInitialized();
    }
}
